@using Microsoft.AspNetCore.Identity
@using Gradebook.Data.Models
@using Gradebook.Common
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model Gradebook.Web.ViewModels.Subject.SubjectsListViewModel
@{
    ViewData["Title"] = "Subjects List";
    
    bool IsCurrentUserPrincipalOrAdmin()
    {
        var user = UserManager.GetUserAsync(User).GetAwaiter().GetResult();
        var roles = UserManager.GetRolesAsync(user).GetAwaiter().GetResult();
        return roles.Any(r => r == GlobalConstants.AdministratorRoleName || r == GlobalConstants.PrincipalRoleName);
    }
}

@foreach (var subjectBySchool in @Model.SubjectsBySchool)
{
    <h1 class="center-custom">Your list of subjects in @subjectBySchool.Key</h1>
    @foreach (var subject in subjectBySchool.Value.OrderBy(c => c.YearGrade).ThenBy(c => c.YearGrade))
    {
        <p><b>Name:</b> @subject.Name</p>
        <p><b>Grade:</b> @subject.YearGrade</p>
        <p><b>School Year:</b> @subject.SchoolYear</p>
        <p><b>Students Count:</b> @subject.StudentSubjects.Count()</p>
        <p><b>Teacher:</b> @subject.TeacherFullName</p>
        <p><b>School:</b> @subject.TeacherSchoolName</p>
    
        <button type="button" class="btn btn-outline-success">
            <a class="page-link-with-hover" asp-action="ById" asp-route-id="@subject.Id" title="Subject details">
                Details
            </a>
        </button>
        if (IsCurrentUserPrincipalOrAdmin())
        {
            <a class="page-link-green" asp-area="Principal" asp-controller="Management" asp-action="EditSubject" asp-route-id="@subject.Id" title="Edit subject">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a class="page-link-red" asp-area="Principal" asp-controller="Management" asp-action="DeleteSubject" asp-route-id="@subject.Id" title="Delete subject">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        }
        <hr/>
    }
}