@using Microsoft.AspNetCore.Identity
@using Gradebook.Data.Models
@using Gradebook.Common
@using Gradebook.Data.Models.Grades
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model Gradebook.Web.ViewModels.Principal.ClassViewModel
@{
    ViewData["Title"] = "Class Details";
    var studentsCounter = 1;

    bool IsCurrentUserPrincipalOrAdmin()
    {
        var user = UserManager.GetUserAsync(User).GetAwaiter().GetResult();
        var roles = UserManager.GetRolesAsync(user).GetAwaiter().GetResult();
        return roles.Any(r => r == GlobalConstants.AdministratorRoleName || r == GlobalConstants.PrincipalRoleName);
    }

    var listCounter = 0;
    var contentCounter = 0;
}

<h3 class="center-custom">
    Class members for @Model.Year@Model.Letter in @Model.Teacher.SchoolName
    @if (IsCurrentUserPrincipalOrAdmin())
    {
        <a class="page-link-green" asp-area="Principal" asp-controller="Management" asp-action="EditClass" asp-route-id="@Model.Id" title="Edit class">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
        <a class="page-link-red" asp-area="Principal" asp-controller="Management" asp-action="DeleteClass" asp-route-id="@Model.Id" title="Delete class">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
    }
    <a class="page-link-red" asp-action="ClassesList" asp-route-id="@Model.Id" title="Go to classes list">
        <i class="fa fa-list" aria-hidden="true"></i>
    </a>
</h3>
<h5 class="page-heading">Below you can see the details about each studen in @Model.Year@Model.Letter class </h5>
<hr>

<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            @foreach (var student in Model.Students)
            {
                @if (listCounter++ == 0)
                {
                    <a class="list-group-item list-group-item-action active" id="list-@student.Id-list" data-toggle="list" href="#list-@student.Id" role="tab" aria-controls="@student.Id">@student.FirstName @student.LastName</a>
                }
                else
                {
                    <a class="list-group-item list-group-item-action" id="list-@student.Id-list" data-toggle="list" href="#list-@student.Id" role="tab" aria-controls="@student.Id">@student.FirstName @student.LastName</a>
                }
            }
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            @foreach (var student in Model.Students)
            {
                if (contentCounter++ == 0)
                {
                    <div class="tab-pane fade show active" id="list-@student.Id" role="tabpanel" aria-labelledby="list-@student.Id-list">
                        <p><b>Email:</b> <span>@student.Email</span></p> 
                        <p><b>Birthday:</b> <span>@student.BirthDate.ToString("dddd, dd MMMM yyyy")</span></p> 
                        @if (IsCurrentUserPrincipalOrAdmin())
                        {
                            <p><b>Modify student</b>: 
                                <a class="page-link-green" asp-area="Principal" asp-controller="Management" asp-action="EditStudent" asp-route-id="@student.Id" title="Edit student">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                <a class="page-link-red" asp-area="Principal" asp-controller="Management" asp-action="DeleteStudent" asp-route-id="@student.Id" title="Delete student">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </p>
                        }
                        <div>
                            <b>Parents:</b>
                            @foreach (var parent in student.StudentParents)
                            {
                                <p>
                                    <i>@parent.Parent.FirstName @parent.Parent.LastName - </i>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> @parent.Parent.Email |
                                    <i class="fa fa-phone" aria-hidden="true"></i> @parent.Parent.PhoneNumber
                                    @if (IsCurrentUserPrincipalOrAdmin())
                                    {
                                        <a class="page-link-green" asp-area="Principal" asp-controller="Management" asp-action="EditParent" asp-route-id="@parent.Parent.Id" title="Edit parent">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a class="page-link-red" asp-area="Principal" asp-controller="Management" asp-action="DeleteParent" asp-route-id="@parent.Parent.Id" title="Delete parent">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    }
                                </p>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="tab-pane fade" id="list-@student.Id" role="tabpanel" aria-labelledby="list-@student.Id-list">
                        <p><b>Email:</b> <span>@student.Email</span></p> 
                        <p><b>Birthday:</b> <span>@student.BirthDate.ToString("dddd, dd MMMM yyyy")</span></p> 
                        @if (IsCurrentUserPrincipalOrAdmin())
                        {
                            <p><b>Modify student</b>: 
                                <a class="page-link-green" asp-area="Principal" asp-controller="Management" asp-action="EditStudent" asp-route-id="@student.Id" title="Edit student">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                <a class="page-link-red" asp-area="Principal" asp-controller="Management" asp-action="DeleteStudent" asp-route-id="@student.Id" title="Delete student">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </p>
                        }
                        <div>
                            <b>Parents:</b>
                            @foreach (var parent in student.StudentParents)
                            {
                                <p>
                                    <i>@parent.Parent.FirstName @parent.Parent.LastName -</i>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> @parent.Parent.Email |
                                    <i class="fa fa-phone" aria-hidden="true"></i> @parent.Parent.PhoneNumber
                                    @if (IsCurrentUserPrincipalOrAdmin())
                                    {
                                        <a class="page-link-green" asp-area="Principal" asp-controller="Management" asp-action="EditParent" asp-route-id="@parent.Parent.Id" title="Edit parent">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a class="page-link-red" asp-area="Principal" asp-controller="Management" asp-action="DeleteParent" asp-route-id="@parent.Parent.Id" title="Delete parent">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    }
                                </p>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $('#myList a').on('click', function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
    </script>
}